.selection-list-wrapper {
    border: 1px solid rgb(205,205,205);
    border-radius: 3px;
}

.input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.labelText {
    font-family: 'Roboto', sans-serif;
    color: rgb(255,255,255);
    font-weight: bold;
}

/* Overwrite Boostrap classes */
.input-group-text {
    display: flex;
    justify-content: center;
    background-color: unset;
    color: unset;
    border: unset;
}
.form-check-inline, .form-check-input {
    margin: 0 !important;
}

@media(max-width:1199px) {
    .input-group {
        flex-wrap: wrap;
    }
}